
    <section class="hbox stretch">
      <aside class="bg-primary aside-sm nav-off-screen" id="nav">
      <app-sidebar></app-sidebar>
          </aside>


  <section id="content">
      <section class="vbox">
              <app-header></app-header>
          <section class="scrollable wrapper">
              <div class="displayiblock width100">
                  <div class="page-wrapper"> 
                      <h1 class="page-heading">Accounts</h1>
                      <div class="search-bar-opt">
                          <div class="col-md-5">
                              <div class="search-bar-fo">
                                  <input type="search" placeholder="Search">
                                  <i class="fas fa-search"></i>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="utl-radio-cal displayiblock width100">
                                  <div class="ut-ra-ca-pol displayiblock float-left"><input type="radio" name="subs"> All Accounts</div>
                                  <div class="ut-ra-ca-pol displayiblock float-left"><input type="radio" name="subs"> Subscription 1</div>
                                  <div class="ut-ra-ca-pol displayiblock float-left"><input type="radio" name="subs"> Subscription 2</div>
                              </div>
                          </div>
                      </div>
                      <div class="data-tables no-rigt-border displayiblock width100">
                          <div class="tableoverflower displayiblock width100">
                              <div class="table-main displayiblock width100">
                                  <div class="table-body displayiblock width100">
                                      <div class="table-tr table-heading  displayiblock width100">
                                          <div class="table-td float-left tw-10 text-center">
                                              <span>ID</span>
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>Account Name</span>
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>Subscription</span>    
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>Last Payment</span>
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>Next Payment</span>
                                          </div>
                                          <div class="table-td float-left tw-30 text-center">
                                              <span>Actions</span>
                                          </div>
                                          <div class="">
                                              
                                          </div>
                                      </div>
                                      <div class="table-tr displayiblock width100">
                                          <!-- table td details -->
                                          <div class="table-td float-left tw-10 text-center">
                                              <span>21</span>
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>John Doe</span>
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>12/12/18</span>    
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>12/12/17</span>
                                          </div>
                                          <div class="table-td float-left tw-15 text-center">
                                              <span>12/12/19</span>
                                          </div>
                                          <div class="table-td float-left tw-30 text-center">
                                              <a class="ttd-linker" href="#">
                                                  <i class="far fa-times-circle"></i> Deactivate
                                              </a> &nbsp; &nbsp;
                                              <a class="ttd-linker" href="#">
                                                  <i class="far fa-bell"></i> Remainder
                                              </a> &nbsp; &nbsp;
                                              <a class="ttd-linker dd-details" href="#">
                                                  <i class="far fa-eye"></i> View
                                              </a>
                                          </div>
                                          <!-- table td end -->

                                          <!-- table td view box --> 
                                              <div class="ddd-tdbox dd-detailsbox" style="display:none;">
                                                  <a class="cross-closed">
                                                      x
                                                  </a>
                                                  <div class="dd-ttd-boxer">
                                                      <div class="uvb-dc1 displayiblock width100">
                                                          <div class="uvb-dc1-und tw-10 float-left">
                                                              <div class="udun-img-set">
                                                                  <img src="./assets/images/avatar.jpg">
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-30 float-left">
                                                              <div class="udu-text-list">
                                                                  <div class="utl-setter">
                                                                      <span><b>Email : </b></span>
                                                                      <span>Johndoe@gmail.com</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Date : </b></span>
                                                                      <span>22/12/2018</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Gender : </b></span>
                                                                      <span>Male</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Relationship Status : </b></span>
                                                                      <span>Single</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Looking For : </b></span>
                                                                      <span>22-29</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Alias Name : </b></span>
                                                                      <span>n/a</span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-30 float-left">
                                                              <div class="udu-text-list">
                                                                  <div class="utl-setter utl-heading" style="font-size:18px;">
                                                                      <span><b>Info : </b></span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Signup Date : </b></span>
                                                                      <span>22/12/2018</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Signup Using : </b></span>
                                                                      <span>Facebook</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Last Active : </b></span>
                                                                      <span>22/12/2018</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Total Earning From User : </b></span>
                                                                      <span>Single</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Subscription Plan : </b></span>
                                                                      <span>Plan Name</span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-25 float-left">
                                                              <div class="udu-text-list">
                                                                  <div class="utl-setter utl-heading" style="visibility: hidden">
                                                                      <span style="font-size:18px;"><b>Info : </b></span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Blocked By : </b></span>
                                                                      <span>0</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Liked By : </b></span>
                                                                      <span>2</span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-5 float-left">
                                                              
                                                          </div>
                                                      </div>
                                                      <div class="uvb-dc1 displayiblock width100">
                                                          <div class="uvb-dc1-und tw-10 float-left">
                                                              <div class="udu-text-list">
                                                                  <div class="utl-setter">
                                                                      <span><b>Looking For </b></span><br>
                                                                      <span>Name 1</span><br>
                                                                      <span>Name 2</span><br>
                                                                      <span>Name 3</span><br>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-30 float-left">
                                                              <div class="udu-text-list">
                                                                  <div class="utl-setter utl-heading" style="font-size:18px;">
                                                                      <span><b>Analytics : </b></span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Status : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Profile Browses : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Profile Liked : </b></span>
                                                                      <span>20</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Messages : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Ads Download : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Points Purchased : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-20 float-left">
                                                              <div class="udu-text-list">
                                                                  <div class="utl-setter utl-heading" style="visibility: hidden">
                                                                      <span style="font-size:18px;"><b>Info : </b></span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Answered : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Invisible : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Connections : </b></span>
                                                                      <span>12</span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-20 float-left">
                                                              <div class="udu-text-list">
                                                                  <div class="utl-setter utl-heading">
                                                                      <span><b>INCOMING</b></span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Blocked By : </b></span>
                                                                      <span>0</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Requests  : </b></span>
                                                                      <span>2</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Accepted  : </b></span>
                                                                      <span>2</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Expires  : </b></span>
                                                                      <span>2</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Extended  : </b></span>
                                                                      <span>2</span>
                                                                  </div>
                                                                  <div class="utl-setter">
                                                                      <span><b>Revived  : </b></span>
                                                                      <span>2</span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="uvb-dc1-und tw-20 float-left">
                                                                  <canvas id="myChart" width="400" height="400"></canvas>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div> 
                                          <!-- table td view box end -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </section>
  </section>
  <!-- /.vbox -->
</section>
