
<body class="siging-back">
  <section id="content" class="m-t-lg wrapper-md animated fadeInUp"> 
      <section class="login panel">
          <div class="login-header">
              <div class="lh-img displayiblock width100 text-center">
                  <img src="./assets/images/logo.png">
              </div>
              <span class="sub-head-login displayiblock width100 text-center">
                  Engage the world around you
              </span>
              <span class="head-login displayiblock width100 text-center">
                  Forget Password
              </span>
          </div>
          <form [formGroup]="form" (submit)="onforgotSubmit()" class="panel-body"> 
              <div class="form-group">
                  <label class="control-label">Email</label>
                  <div class="form-input-group">
                      <input formControlName="email"  type="email" placeholder="test@example.com" class="form-control">
                      <i class="fas fa-lock"></i>
                  </div>
              </div>  
              <a class="sub-head-login displayiblock width100 text-center" style="cursor: pointer;">
                  Go Back
              </a>
              <div class="log_button displayiblock width100 text-center">
                  <button  [disabled]="!form.valid || processing" class="btn btn-theme set-neg-marg">Reset</button>
              </div>
          </form>
      </section> 
  </section>

</body>
